
.CommonEditControls {
  position: relative;
  padding: 17.5px 10px 10px;
  margin-bottom: 2em;
}

.CommonEditControls .tools {
  display: none;
  font-size: 10px;
}

.CommonEditControls .tools button:nth-child(1) {
  background-color: #5BCBE3;
  border-radius:15px;
}

.CommonEditControls .tools button {
  margin-right: 5px;
  padding: 2.5px;
  color: black;
  box-shadow: 0 0 4px #BEBEBE;
  border-radius: 5px;
  background-color: #e6efc2;
}

.CommonEditControls .tools button.destructive {
  background-color: #cc0000;
}

.CommonEditControls .tools button.action {
  border-radius: 10px;
}

.CommonEditControls:hover, .CommonEditControls.active {
  outline: 2px dashed #BEBEBE;
}

.CommonEditControls:hover .tools, .CommonEditControls.active .tools {
  position: absolute;
  display: block;
  top: -17.5px
}
